.product-card {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 26.5px 32px 31px;
}
.product-title {
  padding: 0;
  margin: 0;
  font: 500 20px Montserrat, sans-serif;
  color: #282828;
}
.price-tag-text-style {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  font: 600 40px/44px Montserrat, sans-serif;
  color: #282828;
}
